name: Web assets
on:
  push:
    branches:
      - main
      - master
    tags:
      - '*'
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install wasm-pack
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh

      - name: Pack WASM build
        run: cd ./indico-md-wasm && wasm-pack build --target web

      - name: Build docs
        run: cargo doc

      - name: Prepare dir
        run: mkdir -p dist/pkg && cp ./indico-md-test/index.html dist && cp ./indico-md-wasm/pkg/indico_md_wasm* dist/pkg && mv target/doc dist

      - name: Upload build output
        uses: actions/upload-pages-artifact@v3
        with:
          path: dist

      - name: Deploy
        uses: actions/deploy-pages@v4